.login{
    text-align: center;
    background-color: rgb(211, 203, 203);
    width: 500px;
    margin-left: 400px;
}

.login input{
 width: 200px;
 height: 30px;    
}


.login .check-btn{
    width: 15px;
    height: 15px;
}

.login .submit-btn{
    width: 200 px;
    height: 30 px;
    cursor: pointer;
    background-color: green;
    color: white;
}

.login h2{
    margin-top: 50px;
    padding: 15px;
    
}